<div class="container d-flex flex-column min-vh-100 justify-content-center align-items-center">
  <h1>Angular ASP.NET / Angular / MongoDB</h1>

  <button class="btn btn-lg btn-dark mt-3" (click)="onClickBtnCreateNewPost()">
    Create New CV
  </button>

  <div class="mh-500px w-100 overflow-auto d-inline-block mt-5 shadow">
    <table class="table table-striped">
      <thead>
        <tr>

          <th scope="col">Name</th>
          <th scope="col">Surname</th>
          <th scope="col">Email</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let post of cvService.allPosts; index as i">
     
          <td class="pd">{{ post.name }}</td>
          <td class="pd">{{ post.surname }}</td>
          <td class="pd">{{ post.eMail }}</td>
          <td>
            <button class="btn btn-lg btn-gray me-3" (click)="onClickBtnViewPost(post)">
              View
            </button>
            <button class="btn btn-lg btn-dark me-3" (click)="onClickBtnUpdatePost(post)">
              Update
            </button>
            <button class="btn btn-lg btn-outline-dark" (click)="onClickBtnDeletePost(post)">
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>